html, body {
    margin: 0px;
    background-color: #2f4f30;
    color: white;
}


.titulo {
    background-color: black;
    color: white;
    font-size: 25px;
    padding: 20px;
    text-align: center;
}
.carta {
    left: 100px;
    margin-left: -75px;
    position: relative;
    width: 150px;
}
#computadora-cartas, #jugador-cartas {
    height: 240px;
}